.select {
  max-width: 200px;
  width: 100%;
  display: inline-block;
}

.Select-control {
  height: 30px;
  max-width: 30px;
  display: inline-block;
}

.form-field-name {
  max-width: 40px;
  width: 40px;
  display: inline-block;
}

.menu {
  width: 100%;
  max-width: 400px;
  display: inline-block;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  width: 100%;
}